body {
    font-family: 'Cinzel', sans-serif;
}

.canvas {
    overflow: hidden;
    margin-bottom: -10px;
}

.photos {
    margin: -40px;
}

.photo {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 100%;
}

.photo a {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;

    position: absolute;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.photo a:hover::before {
    content: "";
    background: #fff;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 10;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0.65em;
}

.lead {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.social-bar {
    margin-top: 30px;
    font-size: 3em;
}

@media (min-width: 768px) {
    .photo {
        width: 50%;
        padding-bottom : 50%;
    }

    header {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 1em;
    }

    .lead {
        font-size: 1.2em;
    }

    .social-bar {
        font-size: 2em;
    }
}

a {
    color: #000;
}

a:hover {
    color: #555;
}

@media (min-width: 1024px) {
    .photo {
        width: 25%;
        padding-bottom : 25%; /* = width for a 1:1 aspect ratio */
    }
}

h1 {
    font-size: 3.2em;
    display: inline-block;
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
    border-bottom: 2px solid #000;
}

footer {
    padding: 40px;
    color: #888;
}
